name: Spring boot docker image CI/CD

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted

    steps:
      # 라이브러리 사용(내 폴더에 있는 소스 복사)
      # - uses: actions/checkout@v3
      - name: 폴더 정리
        run: rm -rf kosa-devops-step2

      - name: 소스 복사
        run: git clone https://github.com/aisnota/kosa-devops-step2

      # 윈도우에서는 ,,,실행안됨.
      - name: gradlew 파일 실행 권한 설정
        run: |
          cd kosa-devops-step2
          chmod +x gradlew

      # 테스트 진행
      - name: Test with gradle
        run: |
          cd kosa-devops-step2
          ./gradlew --info test

      # 부트에서 실행파일인 jar 파일 만들겠다.
      - name: Spring boot 실행 파일 생성
        run: |
          cd kosa-devops-step2
          ./gradlew bootJar

      # 이미지 생성
      - name: docker image 생성
        run: docker build -t hisieun/devops_step2:latest kosa-devops-step2/.

      # 도커 로그인. 함수 사용
      - name: docker login
        uses: docker/login-action@v1
        with: 
          username: hisieun 
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: docker image 허브에 저장
        run: docker push hisieun/devops_step2:latest
      
      - name: 파일 업로드
        uses: actions/upload-artifact@v4
        with:
          name: my-artifact
          path: |
            kosa-devops-step2/docker-compose_nginx.yml
            kosa-devops-step2/nginx/nginx.conf

  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:
      # copy yml file from src
      # nginx 볼륨용 폴더도 복사
      # - uses: actions/checkout@v3
      #   with:
      #     sparse-checkout: |
      #       docker-compose_nginx.yml
      #       nginx/nginx.conf
      #     sparse-checkout-cone-mode: false
      #     clean: true

      - name: download file
        uses: actions/download-artifact@v4
        with:
          name: my-artifact

      # 로그인
      - name: docker login
        uses: docker/login-action@v1
        with: 
          username: hisieun 
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: docker image pull
        run: docker pull hisieun/devops_step2:latest

      - name: docker compose 실행
        run: docker compose -f docker-compose_nginx.yml up -d
    
