name: Spring boot docker image CI/CD

on: 
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 라이브러리 사용(내 폴더에 있는 소스 복사)
      - uses: actions/checkout@v3

      # 자바 설치에 관한 부분
      - name: Setup JDK17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      # 윈도우에서는 ,,,실행안됨.
      - name: gradlew 파일 실행 권한 설정
        run: chmod +x gradlew

      # 테스트 진행
      - name: Test with gradle
        run:  ./gradlew --info test

      # 부트에서 실행파일인 jar 파일 만들겠다.
      - name: Spring boot 실행 파일 생성
        run: ./gradlew bootJar

      # 이미지 생성
      - name: docker image 생성
        run: docker build -t hisieun/devops_step2:v1.0 .

      # 도커 로그인. 함수 사용
      - name: docker login
        uses: docker/login-action@v1
        with: 
          username: hisieun 
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: docker image 허브에 저장
        run: docker push hisieun/devops_step2:v1.0
      
  deploy:
    needs: build
    name: Deploy
    runs-on: self-hosted
    steps:
      # 로그인
      - name: docker login
        uses: docker/login-action@v1
        with: 
          username: hisieun 
          password: ${{secrets.DOCKER_PASSWORD}}

      - name: docker image pull
        run: docker pull hisieun/devops_step2:v1.0
    
